
/*FUENTES*/

@font-face{

  font-family: "Websymbolsregular" ;
  src: url("websymbols-regular-webfont.eot");
  src: url("websymbols-regular-webfont.eot?#iefix") format("embedded-opentype");
  src: url("websymbols-regular-webfont.svg") format("svg");
  src: url("websymbols-regular-webfont.ttf") format("truetype");
  src: url("websymbols-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}


/*ESTILOS GENERALES*/



*{

  margin: 0px;
  padding: 0px;
  font-family: 'Roboto', sans-serif;
}




/*ASIDE*/

#lateral{

  width: 400px;
  min-height: 1200px;
  font-family: Roboto;
  float: left;
  background-color: rgb(168, 188, 224);
  
}

.my-photo {
  display: block;
  width: 40%;
  height: 220px;
  margin: 20px;
  padding-left: 8px;
  padding-top: 20px;
  text-align: center;
}


.cv-content {

  display: block;
  width: 300px;
  height: 100px;
  padding-left: 40px;
  margin-top: 150px;
  margin-bottom: 10px;

}

#name {

  
    text-align: center;
    font-size: 50px;
    font-family: 'Roboto', sans-serif;
    color: rgb(27, 27, 27);
    box-shadow: 0px 1px 0px 0px gray;
    letter-spacing: 3px;
    margin-bottom: 15px;
    padding-top: 20px;
  
    


}

#surname {

    text-align: center;
    font-size: 30px;
    font-family: 'Roboto', sans-serif;
    color: rgb(27, 27, 27);
    box-shadow: 0px 1px 0px 0px gray;
    letter-spacing: 3px;


}

.contact {

  display: block;
  width: 100%;
  height: 40px;
  margin: 0px auto;
  margin-top: 100px;
 

}

.contact .icon {

display: block;
width: 30%;
height: 40px;
font-size: 20px;
font-family: "Websymbolsregular";
line-height: 40px;
text-align: center;
margin: 0px auto;
transition: all 300ms;
}

.contact .category {

  text-align: center;
  margin: 0px auto;
  font-size: 15px;
  color: darkslategray;
  letter-spacing: 1px;
  transition: all 300ms;

}

.contact .category:hover {

  transform: scale(1.2, 1.2);
  color: rgb(119, 96, 76);

}

.address {

  display: block;
  width: 100%;
  height: 40px;
  margin: 0px auto;
  margin-top: 40px;
  

}

.address .icon {

  display: block;
  width: 30%;
  height: 40px;
  font-size: 20px;
  font-family: "Websymbolsregular";
  line-height: 40px;
  text-align: center;
  margin: 0px auto;
  transition: all 300ms;

}

.address .category {

  text-align: center;
  margin: 0px auto;
  font-size: 15px;
  color: darkslategray;
  letter-spacing: 1px;
  transition: all 300ms;

}

.address .category:hover {

  transform: scale(1.2, 1.2);
  color:  rgb(119, 96, 76);



}

.e-mail {

  display: block;
  width: 100%;
  height: 40px;
  margin: 0px auto;
  margin-top: 40px;

}

.e-mail .icon {


  display: block;
  width: 30%;
  height: 40px;
  font-size: 20px;
  font-family: "Websymbolsregular";
  line-height: 40px;
  text-align: center;
  margin: 0px auto;
  transition: all 300ms;

}

.e-mail .category {

  text-align: center;
  margin: 0px auto;
  font-size: 15px;
  color: darkslategray;
  letter-spacing: 1px;
  transition: all 300ms;

}

.e-mail .category:hover {

  transform: scale(1.2, 1.2);
  color:  rgb(119, 96, 76);


}

.linkedin {

  display: block;
  width: 100%;
  height: 40px;
  margin: 0px auto;
  margin-top: 40px;

}

.linkedin .icon {

  display: block;
  width: 30%;
  height: 40px;
  font-size: 20px;
  font-family: "Websymbolsregular";
  line-height: 40px;
  text-align: center;
  margin: 0px auto;
  transition: all 300ms;


}

.linkedin .category {

  text-align: center;
  margin: 0px auto;
  font-size: 15px;
  color: darkslategray;
  letter-spacing: 1px;
  transition: all 300ms;

}

.linkedin .category:hover {

  transform: scale(1.2, 1.2);
  color: rgb(119, 96, 76);
  

}

#sections {

  float: right;
  width: 949px;
  background-color: rgb(204, 220, 231);
  min-height: 1200px;
  font-family: "Roboto, sans-serif";
  }

#sections .education {

  margin-top: 5px;
  padding: 20px;
  font-size: 16px;
  overflow: hidden;
  box-shadow: 0px 1px 0px 0px gray;

}

#sections .icon {

  display: block;
  width: 30%;
  height: 40px;
  margin-top: 50px;
  margin-left: 40px;
  font-size: 20px;
  font-family: "Websymbolsregular";
  line-height: 40px;

}

#sections .formation {

  display: inline-block;
  margin-left: 80px;
  position: absolute;
  margin-top: -32px;
  font-size: 25px;
  letter-spacing: 1px;
  color: darkcyan;
  box-shadow: 0px 1px 0px 0px gray;
  


}



.education .title {

  font-size: 16px;
  color: rgb(27, 27, 27);
  letter-spacing: 2px;
  margin-bottom: 5px;
  margin-left: 10px;
  
}

.education .type {

  display: inline-block;
  font-size: 15px;
  color: darkslategray;
  letter-spacing: 2px;
  font-style: italic;
  margin-bottom: 5px;
  margin-left: 10px;
 


}

 .date {

  font-size: 15px;
  color: darkslategray;
  letter-spacing: 2px;
  margin-left: 10px;

}

.college {


  padding-bottom: 20px;
  
  }

#sections .employment {

  padding: 20px;
  font-size: 16px;
  overflow: hidden;
  box-shadow: 0px 1px 0px 0px gray;

}


#sections .experience {

  display: inline-block;
  margin-left: 80px;
  position: absolute;
  margin-top: -32px;
  font-size: 25px;
  letter-spacing: 1px;
  color: darkcyan;
  box-shadow: 0px 1px 0px 0px gray;

}

#sections .star {

  display: block;
  width: 30%;
  height: 40px;
  margin-top: 20px;
  margin-left: 40px;
  font-size: 20px;
  font-family: "Websymbolsregular";
  line-height: 40px;

}

.employment .title {

  font-size: 16px;
  color: rgb(27, 27, 27);
  letter-spacing: 2px;
  margin-bottom: 5px;
  margin-left: 10px;



}

.employment .type {

  display: inline-block;
  font-size: 15px;
  color: darkslategray;
  letter-spacing: 2px;
  font-style: italic;
  margin-bottom: 5px;
  margin-left: 10px;

}


.employment .place {

  font-size: 15px;
  color: darkslategray;
  letter-spacing: 2px;
  margin-left: 10px;

}

.work {

  padding-bottom: 20px;
}


#skills {

width: 320px;
height: 350px;


}




#skills .gear {

  display: block;
  width: 30%;
  height: 40px;
  margin-top: 20px;
  margin-left: 40px;
  font-size: 20px;
  font-family: "Websymbolsregular";
  line-height: 40px;

}

.skills-technical {

  margin-left: 40px;
  font-size: 15px;
  letter-spacing: 1px;
  color: darkcyan;
  

}

#technical > ul {

  list-style: none;
  text-decoration: none;
  margin-top: 10px;
}

#technical > ul .school {

  padding-left: 40px;
  font-size: 12px;
  color: darkslategray;
  letter-spacing: 2px;
  padding-top: 5px;
  padding-bottom: 5px;

}
#technical > ul > li > a {

  display: block;
  padding-left: 40px;
  padding-top: 10px;
  color: rgb(27, 27, 27);
  font-size: 15px;
  text-decoration: none;

}

#technical > ul > li > a:hover {

  color: peru;

}



#languages {

display: block;
padding-left: 250px;
margin-top: -400px;
width: 320px;
height: 350px;

}



#languages .message {

  display: inline-block;
  width: 30%;
  height: 40px;
  margin-top: 48px;
  padding-left:40px;
  font-size: 20px;
  font-family: "Websymbolsregular";
  line-height: 40px;

}

.languages-number {

  padding-left: 40px;
  font-size: 15px;
  letter-spacing: 1px;
  color: darkcyan;
   
}


#social-skills {

  display: block;
  padding-left: 580px;
  margin-top: -350px;
  width: 310px;
  height: 350px;

}

#social-skills .icon-social {

  display: inline-block;
  width: 30%;
  height: 40px;
  margin-top: 48px;
  padding-left:40px;
  font-size: 20px;
  font-family: "Websymbolsregular";
  line-height: 40px;


}

.personal {


  padding-left: 40px;
  font-size: 15px;
  letter-spacing: 1px;
  color: darkcyan;

}





